a:link,
a:visited {
    text-decoration:none;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
}	

body{
	color:#333;
	font-size:15px;
	background:#f6f6f6;
	font-family: 'RobotoCondensed-Regular', Helvetica, Arial, sans-serif;
	}
	
a{
	color:#00599c;
	}
a:hover{
	color:#00599c;
	}
.scroll-fix-top{
    width: 100%;
}

.scroll-fix-top.fixed {
    opacity: 0.95;
}
.carousel-control.left, .carousel-control.right{
	background:none;
	width:50px;
	}
.circle, .anchor, .anchor .fa{
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	border-radius:100%;
	}
.radius{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	}
.shadow{
	-moz-box-shadow:0 0 5px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:0 0 5px rgba(0, 0, 0, 0.3);
	box-shadow:0 0 5px rgba(0, 0, 0, 0.3);
	}
.anchor{
	position:absolute;
	top:-15px;
	left:50%;
	margin-left:-15px;
	background:#ffffff;
	border:3px solid #60da9d;
	z-index:99;
	width:46px;
	height:46px;
	display:inline-block;
	text-align:center;
	
	}
.anchor .fa{
	color:#60da9d;
	line-height:40px;
	text-align:center;
	}
	
.fa-2 {
    font-size: 1.5em;
}
.fa-3 {
    font-size: 4em;
}
.fa-4 {
    font-size: 7em;
}
ul.reset, ol.reset{
	margin:0;
	padding:0;
	}
.btn.btn-submit{
	background:#cb0303;
	border:none;
	border-bottom:3px solid rgba(0, 0, 0, 0.3);
	color:#fff;
	text-transform:uppercase;
	font-size:120%;
	font-weight:lighter;
	padding:15px 30px;
	}
.section{
	padding-top:30px;
	padding-bottom:30px;
	}
.navbar-toggle{
	border:1px solid #0066b3;
	position:absolute;
	right:0px;
	top:10px;
	padding-right:12px;
	padding-left:12px;
	color:#0066b3;
	}
.navbar-toggle .fa{
	font-size:150%;
	}
label{
	font-weight:normal;
	}
/*header=================================*/
#header{
	margin:0;
	z-index:99;
	top:0;
	width:100%;
	background:#00599c;
	min-height:85px;
	}
#header .navbar-inner{
	position:relative;
	min-height:85px;
	}
#header .navbar-brand{
	margin:0;
	padding-top:10px;
	padding-bottom:10px;
	}
#header .navbar-nav{
	margin:10px 0px 0 0;
	float:left;
	}
#header .navbar-nav a{
	font-size:110%;
	color:#fff;
	padding:20px 10px;
	}
#header .affix .navbar-nav a{
	color:#00599c;
	}
#header .navbar-nav>li>a:hover, #header .navbar-nav>li.active>a{
	background:none;
	color:#ffa200;
	}
#header .navbar-nav>li .navbar-nav-sub{
	position:absolute;
	margin:0;
	padding:0;
	background:rgba(255, 255, 255, 0.9);
	overflow:hidden;
	-moz-box-shadow:0 0 3px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow:0 0 3px rgba(0, 0, 0, 0.1);
	box-shadow:0 0 3px rgba(0, 0, 0, 0.1);
	transition: all 300ms ease-out 0s;
	-webkit-transition: all 300ms ease-out 0s;
	-moz-transition: all 300ms ease-out 0s;
	height:0;
	width:200px;
	opacity:0;
	top:58px;
	left:50%;
	margin-left:-100px;
	border-top:2px solid #217abd
	}
#header .navbar-nav>li:hover .navbar-nav-sub{
	height:auto;
	opacity:1;
	top:59px;
	}
#header .navbar-nav>li .navbar-nav-sub li{
	text-align:center;
	float:none;
	list-style:none;
	border-bottom:1px solid #eee;
	position:relative;
	}
#header .navbar-nav>li .navbar-nav-sub li:last-child{
	border:none;
	}
#header .navbar-nav>li .navbar-nav-sub li a{
	display:block;
	padding:8px 10px;
	float:none;
	font-size:90%;
	font-weight:lighter;
	color:#217abd;
	}
	
#header .navbar-nav>li .navbar-nav-sub li a:hover, #header .navbar-nav>li .navbar-nav-sub li:hover>a{
	background:#217abd;
	color:#fff;
	}
#header .affix{
	left:0;
	right:0;
	top:-1px;
	background:#fff;
	z-index:9999;
	min-height:85px;
	-moz-box-shadow:0 0 8px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow:0 0 8px rgba(0, 0, 0, 0.4);
	box-shadow:0 0 8px rgba(0, 0, 0, 0.4);
	transition: all 300ms ease-out 0s;
	-webkit-transition: all 300ms ease-out 0s;
	-moz-transition: all 300ms ease-out 0s;z-index:99999;
	}
#header .affix-top .navbar-brand-fix, #header .affix .navbar-brand{
	display:none;
	}
#header .affix .navbar-brand-fix{
	display:block;
	}
.navbar-collapse.collapse{
	
	}
.acc{
	float:right;
	}
.acc a.btn{
	background:#333;
	color:#fff;
	margin:0;
	float:left;
	}
.acc a.btn.btnLogin{
	background:#014a81;
	color:#fff;
	}
#taskbar{
	background:#444;
	}
.exchange{
	padding:5px 0;
	color:#fff;
	}
.exchange strong{
	color:#ff8400;
	}
/**/

#header .navbar-nav .navbar-nav-sub li{
	position:relative;
	}
#header .navbar-nav .navbar-nav-sub li ul{
	left:0;
	padding:0;
	margin:0;
	top:0;
	background:rgba(255, 255, 255, 0.9);
	width:0px;
	opacity:0;
	position:absolute;
	-moz-box-shadow:0 0 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow:0 0 5px rgba(0, 0, 0, 0.2);
	box-shadow:0 0 5px rgba(0, 0, 0, 0.2);
	}
#header .navbar-nav .navbar-nav-sub li:hover ul {
	height:auto;
	opacity:1;
	left:199px;
	height:auto;
	display:block;
	width:200px;
	}
#header .navbar-nav>li .navbar-nav-sub:hover{
	overflow:inherit;
	}
/**/
#heartbanner{
	padding:10px 0;
	color:#fff;
	font-weight:lighter;
	background:url(../img/heartbanner-bg.jpg) no-repeat 50% 50% / auto 100%;}
#heartbanner h2{
	font-size:250%;
	font-family: 'RobotoCondensed-Bold';
	}
#heartbanner p, #heartbanner h2{
	text-transform:uppercase;
	}
#heartbanner ul{
	margin:30px 0 0 0;
	padding:0;
	overflow:hidden;
	}
#heartbanner li{
	list-style:none;
	float:left;
	margin-bottom:15px;
	margin-right:30px;
	}
#heartbanner li span{
	display:block;
	width:50px;
	height:2px;
	background:#fff;
	margin-bottom:10px;
	}
#heartbanner .text{
	padding-top:50px;
	padding-bottom:50px;
	}
#heartbanner li strong{
	
	}
#heartbanner a{
	color:#e2b70c;
	font-size:120%;
	font-family: 'RobotoCondensed-Bold';
	}
#heartbanner img{
	width:100%;
	}

#heartbanner .carousel-control .fa{
	position:absolute;
	top:50%;
	margin-top:-15px;
	font-size:200%;
	}
#heartbanner .carousel-control.left .fa{
	left:20px;
	}
#heartbanner .carousel-control.right .fa{
	right:20px;
	}
.heartbannerText{
	text-align:center;
	left:0;
	right:0;
	top:150px;
	font-size:130%;
	font-weight:lighter;
	position:absolute;
	color:#fff
	}
.heartbannerText h2{
	font-size:250%;
	text-transform:uppercase;
	}
/**/
#service{
	background:url(../img/bg-sv.gif) no-repeat 50% 100%;
	background-attachment:fixed;
	}
.hd-tl{
	margin-bottom:30px;
	text-transform:uppercase;
	}
.hd-tl h3{
	font-size:220%;
	}
#service .hd-tl h3{
	color:#fff;
	}
#service .row .inner{
	text-align:center;
	padding:30px;
	background:#fff;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	}
#service .fa{
	border:1px solid #00599c;
	color:#00599c;
	font-size:40px;
	width:120px;
	height:120px;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	border-radius:100%;
	text-align:center;
	line-height:120px;
	}
#service .btn{
	background:#00599c;
	padding:8px 30px;
	margin-top:15px;
	color:#fff;
	}
#service .row>div:hover .inner .fa{
	}
#support{
	color:#fff;
	padding-top:20px;
	padding-bottom:20px;
	background:#00599c;}
.spPhone{
	font-size:130%;
	}
.spPhone strong{
	font-size:150%;
	color:#ffd800;
	}
.spPhone hr{
	width:300px;
	margin:20px auto;
	border:none;
	background:none;
	border-bottom:1px solid #fff;
	height:1px;
	}
.spList{
	max-width:760px;
	margin:15px auto 30px auto;
	}
.spList p{
	margin:5px 0;
	}
.spList a{
	color:#ffd800}
.spList strong{
	text-transform:uppercase;
	}
.btn-contact{
	background:#ffffff;
	color:#00599c;
	text-transform:uppercase;
	padding:12px 25px;
	}
#about{
	padding-top:0;
	padding-bottom:0;
	background:#fff;
	}
#about [class^=col-], #about .row{
	padding:0;margin:0;
	}
#about .inner{
	padding:30px;
	}
#about .inner h3{
	margin-bottom:15px;
	text-transform:uppercase;
	font-size:150%;
	color:#00599c}
#about .inner ul{
	margin:0 0 0 15px;
	padding:0;
	}
#about .inner li{
	margin-bottom:10px;
	}
.download{
	margin-top:15px;
	background:#eee;
	padding:5px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	float:right;
	border:1px solid #aaa;
	}
.download .btn{
	padding:5px 10px 5px 40px;
	color:#333;
	display:block;
	}
.download .btn{
	background:url(../img/icon-cococ.png) no-repeat 0 50%;
	}
.download .btn h3, .cart .btn h3{
	font-size:100%;
	text-transform:uppercase;
	margin:0 0 0px 0;
	}
.download .btn p, .cart .btn p{
	margin:0;
	color:#777;
	}
.cart sup{
	background:#f40000;
	padding:2px 5px;
	color:#fff;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	}
/*rate*/
#rate{
	padding-bottom:80px;
	background:#f6f6f6 url(../img/bg-map.gif) no-repeat 50% 0 fixed;
	}
#rate .item{
	padding:15px 0;
	text-align:center;
	}
#rate .item .ratename{
	font-weight:lighter;
	font-size:90%;
	}
#rate .carousel-indicators{
	bottom:-20px;
	}
#rate .carousel-indicators .active{
	background:#f2b706;
	}
#rate .carousel-indicators li{
	background:#666;
	}
#rate-slide{
	margin-bottom:30px;
	}
#rate .btn-rate{
	background:#eee;
	padding:8px 15px;
	color:#555;
	border:1px solid #ddd;
	}
#rate .item .avatar{
	margin-bottom:15px;
	}
#rate .item img{
	width:120px;
	height:120px;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	border-radius:100%;
	}
/**/
.modal-content{
	padding:15px;
	text-align:left;
	}
.modal-dialog{
	width:400px;
	margin-top:120px;
	}
.modal-content form>div{
	margin-bottom:10px;
	}
.modal-content form input[type="text"], .modal-content form textarea, .modal-content form input[type="password"]{
	padding:8px;
	width:100%;
	}
.modal-content form textarea{
	height:100px;
	}
.modal-content form p{
	color:#777;
	}
.modal-dialog .modal-header{
	padding-right:0;
	padding-left:0;
	margin-bottom:15px;
	position:relative;
	overflow:hidden;
	}
.modal-dialog h3{
	margin:0;
	float:left;
	}
/**/
#slogan{
	background:#fff;
	text-align:center;
	}
#slogan .fa{
	color:#00599c;
	font-size:300%;
	}
#slogan h2, #service h2{
	font-size:150%;
	}
	
#notify{
	padding-top:15px;
	padding-bottom:15px;
	background:#ff9000;
	color:#fff;
	font-weight:lighter;
	}
#slogan .row>div, #service .row>div{
	margin-bottom:30px;
	}
/**/
#footer{
	background:#333;
	color:#fff;
	padding-top:30px;
	}
#footer h3{
	text-transform:uppercase;
	font-size:110%;
	margin:0 0 15px 0;
	}
#footer ul{
	margin:0;
	padding:0;
	}
#footer li{
	list-style:none;
	margin-top:10px;
	}
#footer a, #footer li, #ft-link p{
	color:#eee;
	font-weight:lighter;
	}
.copyright{
	border-top:1px solid #444;
	padding-top:10px;
	padding-bottom:10px;
	margin-top:15px;
	font-size:12px;
	color:#888;
	}
.hd-tl-line{
	width:100px;
	margin:15px 0;
	background:#00599c;
	height:5px;
	display:block;
	}
.hd-tl .hd-tl-line{
	margin:15px auto;
	}
/**/
#dropdown-acc .fa{
	text-align:center;
	line-height:30px;
	color:#00599c;
	margin-right:5px;
	}
#dropdown-acc {
	padding:2px 10px;
	border:none;
	}
.cart{
	float:right;
	margin-left:0px;
	background:#fff;
	padding:0 0 0 10px;
	float:right;line-height:34px;
	border-left:1px solid #ddd;
	}
.cart .btn{
	padding: 2px 10px 2px 30px;
	color:#333;
	height:30px;
	background:url(../img/icon-cart.png) no-repeat 0 50%;
	}
/*page-hd*/
#page-hd{
	padding:50px 0;
	background:#f6f6f6 url(../img/bg-map.gif) no-repeat 50% 50%;
	}
#page-hd h3{
	margin-top:0;
	}
.breadcrumb{
	padding:0;
	margin:0;
	background:none;
	font-weight:lighter;
	color:#00599c;
	font-size:90%;
	}
.breadcrumb a{
	color:#555;
	}
/**/
#detail-wrap{
	background:#fff;
	}
#detail-wrap .detail-row:nth-child(2n){
	background:#f2f2f2;
	}
#detail-wrap .detail-row{
	padding-top:30px;
	padding-bottom:30px;
	}
.panel.guid-blok{
	margin:0;
	border:none;
	border-bottom:1px solid #ddd;
	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	}
.panel.guid-blok.panel-default>.panel-heading{
	background:none;
	border:none;
	padding-left:0;
	padding-right:0;
	font-size:110%;
	}
.panel.guid-blok.panel-default>.panel-heading a{
	display:block;
	}
.panel.guid-blok.panel-default>.panel-heading .fa{
	float:right;
	margin-top:5px;
	}
.panel.guid-blok .panel-collapse{
	padding:15px;
	background:#f6f6f6;
	}
/**/
#profile{
	background:#fff;
	}
#profile>.row{
	margin-left:0;
	margin-right:0;
	}
.menu-left{
	margin-bottom:30px;
	}
.menu-left h3{
	margin:0 0 30px 0;
	}
.menu-left ul{
	margin:0;
	padding:0;
	text-align:center;
	}
.menu-left li{
	list-style:none;
	margin:0 5px;
	display:inline-block;
	}
.menu-left li a{
	display:block;
	padding:10px 15px;
	color:#777;
	font-size:110%;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #ddd;
	
	}
.menu-left li.active{
	}
.menu-left li.active a, .menu-left li a:hover{
	color:#fff;
	background:#00599c;
	border:1px solid #00599c;
	
	}
#profile .inner>.row{
	margin-bottom:15px;
	}
#profile .inner>.row label{
	margin-right:30px;
	}
#profile .inner>.row input, #profile .inner>.row select{
	padding:5px;
	}
#profile .inner>.row input[type="text"]{
	width:300px;
	}
#profile .inner>.row select{
	min-width:80px;
	}
#filter{
	padding:15px;
	background:#f6f6f6;
	border:1px solid #00599c;
	margin-bottom:30px;
	}
#filter label{
	display:block;
	margin-bottom:3px;
	}
#filter input, #filter select{
	width:100%;
	padding:6px;
	}
#filter .row>div{
	margin-bottom:15px;
	}
#filter p{
	margin:0;
	}
#filter .btn{
	background:#00599c;
	color:#fff;
	width:100%;
	padding-top:7px;
	padding-bottom:7px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	}
.nav-tabs{
	overflow:hidden;
	margin:0;
	padding:0;
	}
.nav-tabs li{
	list-style:none;
	margin-right:0;
	margin-bottom:-2px;
	}
.nav-tabs li a{
	padding:8px 10px;
	display:block;
	color:#fff;
	background:#444;
	border:none;
	-moz-border-radius:3px 3px 0 0;
	-webkit-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
	}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
	color:#fff;
	background:#00599c;
	border:1px solid #00599c;
	}
#profile table{
	background:#f6f6f6;
	}
.red{
	color:#e20303;
	}
.tabs-orderslist .progress{
	margin:5px 0;
	}
.tabs-orderslist td{
	padding:10px;
	border-bottom:1px solid #ddd;
	}
#profile tr:nth-child(2n) td{
	background:#fffef1;
	}
#profile thead td{
	font-family: 'RobotoCondensed-Bold';
	background:#dcf5fa;
	padding-top:15px;
	padding-bottom:15px;
	border-bottom:1px solid #444;
	}